.reg-form {
    max-width: 400px;
}

.reg-item{
    margin: 7px 0 7px 0;
}

div.reg-item{
    font-size: 16px;
    width: 100%;
    background-color: inherit;
    display: block;
    color: #777777;
}
input.btn{
    width: 150px;
}
