.reg-form {
    max-width: 450px;
    color: #ababab;
}

.reg-item{
    width: 200px;
    display: inline;
}

div.reg-item{
    font-size: 16px;
    background-color: inherit;
    color: #777777;
    line-height: 35px;
}
