.reg-form {
    max-width: 450px;
    color: #ababab;
}

.reg-item{
    width: 200px;
    display: inline;
}


.form-register li{
    height: 50px;
    list-style: none;
}

div.reg-item{
    font-size: 16px;
    background-color: inherit;
    color: #777777;
    line-height: 35px;
}
input.reg-item{
    float: right;
}
select.reg-item{
    float: right;
}
input.btn{
    width: 150px;
}
